* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: beige;
}
.border {
    position: absolute;
    height: 300px;
    width: 300px;
    background: linear-gradient(to bottom left, blue, pink);
    border-radius: 21% 79% 52% 48% / 44% 29% 71% 56%;
    left: 60%;
    top: 30%;
}